@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff;
}

header {
    background-color: #e65353;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 64px;
}

.subheader {
    font-size: 36px;
    margin: 16px 0 24px 0;
}

figure {
    width: 40%;
}

button {
    background-color: #05c7cf;
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    margin-bottom: 32px;
}

a {
    color: #000;
    font-size: 24px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-left: 16px;
}


.row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ABOUT  */
#manager,
#contact
footer {
    padding: 48px 0;
    
}

#manager {
    background-color: #f8ffdc;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.section__description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.manager__img--wrapper 
{
    width: 40%;
    padding: 0 24px;
}

img {
    width: 100%;
}

.nav__logo {
    max-width: 50px;
}

.section__description--wrapper {
    width: 60%;
    padding: 0 24px;
}

.section__description--para {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}


/* CONTACT */

#contact {
    background-color: #dce9ff;
}

form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 24px;
}

input, textarea {
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6px 12px;
}

/* FOOTER */

footer {
    background-color: #b7ecf3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    max-width: 50px;
    margin-bottom: 16px;
}

.footer__links {
    margin-bottom: 32px;
}

.footer__link {
    padding: 0 16px;
}


@media (max-width: 728px)
{
    .row {
        flex-direction: column;
    }

    .home__description {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home__description--button {
        max-width: 240px;
        margin-bottom: 8px;
    }

    h1 {
        text-align: center;
        font-size: 60px;
    }

    .subheader {
        text-align: center;
        font-size: 28px;
    }

    ul {
        display: none;
    }

    .section__description {
        flex-direction: column;
    }

    .section__description--wrapper {
        width: 100%;
    }

    .manager__img--wrapper {
        width: 100%;
        margin-bottom: 24px;
    }

    figure {
        width:50%;
    }

    footer {
        padding: 48px 24px;
    }


}